<% provide(:title, 'About') %>
<div class="body-content">
  <h2 class="text-center">About</h2>
  <hr/>
  <p>
    Techseven is me, <%= link_to "Steve Chen", "http://www.linkedin.com/in/steventchen", target: "_blank" %> - a guy on a mission to automate all the things. I provide customized solutions for scaling and automating your company's website infrastructure. From development through QA, staging, and production, I'll work with you to make everything work seamlessly and save your valuable engineering time for the important things.

  </p>
  <p>
    I specialize in implementing AWS services, including but not limited to:
    <ul>
      <li>EC2</li>
      <li>RDS</li>
      <li>OpsWorks</li>
      <li>CloudFormation</li>
      <li>S3</li>
      <li>Route 53</li>
    </ul>
  </p>
  <p>
    I have an excellent grasp on web development technologies. I can code in Ruby, Java, Javascript, and other langauges. I have built sites with Ruby on Rails (including the one you are reading now) and Meteor. This helps me greatly in integrating your development process with your build, test, and deploy processes. You can check out my <%= link_to "github profile", "https://github.com/sebboh", target: "_blank" %> to see more of my work.
  </p>
  <p>
    Projects I have worked on in the past include migrating entire websites from legacy datacenters into AWS, building out custom, on-demand QA enviroment solutions, and creating disaster recovery and backup solutions. If this sounds interesting to you, <%= link_to "contact me", contact_path %> and let's talk about all of those DevOps projects you have been thinking about, but never had the time to do.
  </p>
  <br/>
  <p class="text-center">
    <%= image_tag "http://imgs.xkcd.com/comics/automation.png", class: 'img-responsive center-block' %>
    source: <%= link_to "http://xkcd.com/1319", "http://xkcd.com/1319", target: "_blank" %>
  </p>
</div>