<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href=<%= image_path "favicon.ico" %> sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : root_name %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <%= render 'layouts/shim' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-27445811-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
      <!-- <div class="push"></div> -->
    </main>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
    <%#= debug(params) if Rails.env.development? %>
  </body>
</html>
