<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href=<%= image_path "favicon.ico" %> sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : root_name %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <%= render 'layouts/shim' %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
      <!-- <div class="push"></div> -->
    </main>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
    <%#= debug(params) if Rails.env.development? %>
  </body>
</html>
